@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>İade Edilen Kitap Listesi</h2>


<table class="table table-bordered" style="margin-top:2em;">

    <thead>
        <tr>
            <th>İşlem ID</th>
            <th>Kitap Adı</th>
            <th>Üye</th>
            <th>Personel</th>
            <th>Alış Tarihi</th>
            
            <th>Üye Teslim Tarihi</th>

            <th>İşlem Durumu</th>
            <th>İade Et</th>


        </tr>
    </thead>

    <tbody>

        @foreach (var k in Model)
        {
<tr>

    <td>@k.ID</td>
    <td>@k.TBLKITAP.AD</td>
    <td>@k.TBLUYELER.AD @k.TBLUYELER.SOYAD</td>
    <td>@k.TBLPERSONEL.PERSONEL</td>
    <td>@Convert.ToDateTime(k.ALISTARIH).ToString("dd/MM/yyyy")</td>
    <td>@Convert.ToDateTime(k.UYETESLIMTARIH).ToString("dd/MM/yyyy")</td>
    <td>@k.ISLEMDURUM</td>
    <th><a href="/Odunc/OduncIade/@k.ID" class="btn btn-warning"> &nbsp;Detay</a></th>

</tr>}

    </tbody>

</table>
