@using MvcKutuphane.Models.Entity
@model List<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Kitap İşlemleri</h2>

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
            {

    <div style="margin-bottom:15px; margin-top:15px;" >

        <b>Aranacak Kitap Adını Girin: &nbsp;</b> @Html.TextBox("p")
        <input type="submit"  value="Ara" />

    </div>


            }

<table class="table table-bordered" style="margin-top:2em;">

    <thead>
        <tr>
            <th>ID</th>
            <th>Kitap Adı</th>
            <th>Yazar</th>
            <th>Kategori</th>
            <th>Basım Yılı</th>
            <th>Yayınevi</th>
            <th>Sayfa</th>
            <th>Durum</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var k in Model)
        {
            <tr>

                <td>@k.ID</td>
                <td>@k.AD</td>
                <td>@k.TBLYAZAR.AD @k.TBLYAZAR.SOYAD</td>
                <td>@k.TBLKATEGORI.AD</td>
                <td>@k.BASIMYIL</td>
                <td>@k.YAYINEVI</td>
                <td>@k.SAYFA</td>
                <td>@k.DURUM</td>
                <th><a href="/Kitap/KitapSil/@k.ID" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"></i> &nbsp;SİL</a></th>
                <th><a href="/Kitap/KitapGetir/@k.ID" class="btn btn-warning"> <i class="glyphicon glyphicon-refresh"></i> &nbsp;GÜNCELLE</a></th>
            </tr>

        }


    </tbody>

</table>

<a href="/Kitap/KitapEkle/" class="btn btn-success">Yeni Kitap Ekle</a>

