@using MvcKutuphane.Models.Entity;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-bordered" style="margin-top:2em;">

    <thead>
        <tr>
            <th>ID</th>
            <th>Üye Adı</th>
            <th>Üye Soyad</th>
            <th>Mail</th>
            <th>Kullanıcı Adı</th>
            <th>Sifre</th>
            <th>Fotoğraf</th>
            <th>Telefon</th>
            <th>Okul</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>

        </tr>
    </thead>

    <tbody>

        @foreach (var uye in Model)
        {
        <tr>

            <td>@uye.ID</td>
            <td>@uye.AD</td>
            <td>@uye.SOYAD</td>
            <td>@uye.MAIL</td>
            <td>@uye.KULLANICIADI</td>
            <td>@uye.SIFRE</td>
            <td>@uye.FOTOGRAF</td>
            <td>@uye.TELEFON</td>
            <td>@uye.OKUL</td>
            <th><a href="/Uye/UyeSil/@uye.ID" class="btn btn-danger"> <i class="glyphicon glyphicon-remove"></i> &nbsp;SİL</a></th>
            <th><a href="/Uye/UyeGetir/@uye.ID" class="btn btn-warning"> <i class="glyphicon glyphicon-refresh"></i> &nbsp;GÜNCELLE</a></th>
        </tr>}


    </tbody>
    S
</table>

@Html.PagedListPager((IPagedList)Model, sayfa=>Url.Action("Index", new {sayfa}))

<a href="/Uye/UyeEkle/" class="btn btn-success">Yeni Üye Ekle</a>

